:root {
    --board-size: 800px;
    --cell-size: calc(var(--board-size) / 8);
}
#board {
    width: var(--board-size);
    height: var(--board-size);
    margin: auto;
    top: 100px;
}

#board tr {
    margin: 0;
    padding: 0;
}

#board td {
    width: var(--cell-size);
    height: var(--cell-size);
    margin: 0;
    padding: 0;
    border: solid black 1px;
}

#board tr:nth-child(odd) td:nth-child(odd).chosen {
    background-color: lightgreen;
}

#board tr:nth-child(even) td:nth-child(odd).chosen {
    background-color: lightgreen;
}

#board tr:nth-child(even) td:nth-child(even).chosen {
    background-color: lightgreen;
}

#board tr:nth-child(odd) td:nth-child(even).chosen {
    background-color: lightgreen;
}

#board tr:nth-child(odd) td:nth-child(odd) {
    background-color: rgb(255, 206, 158);
}

#board tr:nth-child(odd) td:nth-child(even) {
    background-color: rgb(209, 139, 71);
}

#board tr:nth-child(even) td:nth-child(even) {
    background-color: rgb(255, 206, 158);
}

#board tr:nth-child(even) td:nth-child(odd) {
    background-color: rgb(209, 139, 71);
}

#board .cell {
    width: var(--cell-size);
    height: var(--cell-size);
}

#board .win {
    color: green;
    font-size: 2em;
}
